body{
    background-image: url(../img/background.jpg);
    font-family: 'Roboto', sans-serif;
    
}
.form-control{
    background-color: #ffe100;
    border-color: black;
}

h1{
    font-style: inherit;
    padding: 15px;
}

h4{
    color: gray;
    padding: 15px;
}

.hidden{
    visibility: hidden;
}

.shown {
    visibility: visible;
}
#pesquisa{
    background-color: #ffe100;
    width: 800px;
    padding: 60px;
    margin: 150px;

}
#campo{
    padding: 20px;
}
