body{
    background-image: url(../img/background.jpg);
    
}
.form-control{
    background-color: lightgray;
    border-color: black;
}
h1{
    margin-top: 5rem;
}

.hidden{
    visibility: hidden;
}

.shown {
    visibility: visible;
}